<%- include("./head") %>

<h5><%=mensaje%></h5>
<h3>In order to use the app, please provide an URL:</h3>

<form action="/" method="POST">
  <input type="url" name="url" value="url" />
  <button class="button btn-primary" type="submit">Submit</button>
</form>

<%- include("./closure") %>
