<%- include("./head") %>

<div class="container" style="margin-top: 50px;">
  <h3>Please provide a MongoDB URL for the connection:</h3>

  <form action="/" method="POST">
    <div class="form-group">
      <input class="col-12" type="url" name="url" />
      <small id="emailHelp" class="form-text text-muted"
        >Please be sure your connection doesn't rejects IPs or doesn't have
        hiden databases.</small
      >
      <button
        class="button btn-primary"
        type="submit"
        style="margin-top: 20px;"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<%- include("./closure") %>
