<%- include("./head") %>

<div class="container" style="margin-top: 50px;">
  <h3>Please provide a MongoDB URL connection:</h3>

  <form action="/" method="POST">
    <input type="url" name="url" value="url" />
    <button class="button btn-primary" type="submit">Submit</button>
  </form>
</div>

<%- include("./closure") %>
